name: Docker Unstable Build

on:
  workflow_run:
    workflows: [ci]
    branches: [main]
    types: [completed]

concurrency:
  group: docker-next
  cancel-in-progress: true

jobs:
  build-unstable:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - uses: actions/checkout@v6

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/shipped:next
          cache-from: type=gha
          cache-to: type=gha,mode=max